<!-- <img id="back" src="../../assets/image/Media.png" alt="background"> -->
<form id="additionalInfoForm">
    <div class="main-container">  
       <div class="container">
            <h2>Course and Semester Selection</h2>
            <!-- <form #courseForm="ngForm" (ngSubmit)="onSubmit(courseForm)"> -->
                <div class="form-group">
                    <label for="course">Select Course:</label>
                    <select id="course" name="course" [(ngModel)]="selectedCourse" (change)="onCourseChange()" required>
                      <option value="" disabled selected>Select Course</option>
                      <option *ngFor="let course of courses" [value]="course.cname">{{course.cname}}</option>
                    </select>
                  </div>
                  
                  <div class="form-group">
                    <label for="semester">Select Semester:</label>
                    <select id="semester" name="semester" [(ngModel)]="selectedSemester" (change)="onSemesterChange()" required>
                      <option value="" disabled selected>Select Semester</option>
                      <option *ngFor="let semester of semesters">{{semester}}</option>
                    </select>
                  </div>
            <!-- <div id="additionalInfo" class="additional-info"> -->
                <div id="additionalInfo" class="additional-info" [style.display]="additionalInfoDisplay">
                      <div class="form-row" *ngFor="let subject of subjects; let i = index">
                        <label for="{{subject}}">{{subject}}:</label>
                        <ng-autocomplete
                            [(ngModel)]="selectedFaculty[i]"
                            [ngModelOptions]="{ standalone: true }"
                            [itemTemplate]="itemTemplate"
                            [data]="facultylist"
                            placeholder="Enter Faculty Name"
                            (inputChanged)="onChangeSearch($event)"
                            (selected)="onFacultySelected($event,i)">
                            <ng-template #itemTemplate let-item>
                              <a [innerHTML]="item"></a>
                            </ng-template>
                        </ng-autocomplete> 
                      </div>
                    <div class="section-swipe">
                        <label for="section">Section:</label>
                        <select id="section" (change)="toggleInputField()">
                            <option value="no">No</option>
                            <option value="yes">Yes</option>
                        </select>
                        <input type="text" id="inputField" [(ngModel)]="selectedSection" [ngModelOptions]="{standalone: true}" placeholder="Enter Section Name" style="display: none;">
                      </div>
                    <input type="submit" value="Submit"(click)="onSubmit()">
            </div>
        </div>
      </div>  
</form>
