body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('../../assets/image/Media.jpeg') center center fixed;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
}
.form-group {
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
select, input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}
.additional-info {
    display: none;
    margin-top: 20px;
}
.form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.swipe-button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}
@media (max-width: 768px) {
    .container {
        width: 90%;
    }
    .additional-info .form-row input[type="text"] {
        width: 100%;
    }
}
@media (min-width: 768px) {
    .additional-info .form-row input[type="text"] {
        width: 48%;
    }
}